/* CSS */
* {
	font-family: 'Open Sans', sans-serif;
}
#container {
	width:1000px;
	margin:0 auto;
}

h1 {
	text-align:center;
	font-weight:normal;
	color:#aaa;
	font-family: 'Open Sans Light', sans-serif;
}

canvas {
	display:block;
	border:1px solid #aaaaaa;
	background-color:#eee;
}

input {
	display:block;
	margin:0 auto;
}

section {
	border:1px solid #aaaaaa;
	background-color:#eee;
	width:980px;
	margin:10px 0;
	padding:10px;
}

#buttons {
	width:980px;
	margin:20px auto;
	position:relative;
	text-align:center;
}

button {
	background-color:#ccc;
	border:0;
	padding: 10px 15px;
	border-radius:5px;
	color:#333;
	display:inline-block;
	margin:5px;
}

#minDate{
	float:left;
}
#maxDate {
	float:right;
}

.ui-rangeslider .ui-rangeslider-sliders{
	margin: 0 100px;
}

form{
	width:90%;
	margin: 0 auto;
	text-align:center;
}


.color0 {
	background-color:#E7492F; /* Red */
}
.color1 {
	background-color:#7CA94F; /* Green */
}
.color2 {
	background-color:#6B7CC9;  /* Blue */
}
.color3 {
	background-color:#CFC759;  /* Yellow */
}
.color4 {
	background-color:#E9889E;  /* Pink */
}
.color5 {
	background-color:#63E2FF;  /* Cyan */
}
.color6 {
	background-color:#E09A5B;  /* Orange */
}
.color7 {
	background-color:#A76BC9;  /* Purple */
}
.color8 {
	background-color:#B9FF78;  /* Light Green */
}
.color9 {
	background-color:#BA946C;  /* Brown */
}
.color10 {
	background-color:#fff;  /* White */
}
.color11 {
	background-color:#8F8F8F;  /* Grey */
}
